.formatting {
	cursor: pointer;
	font-size: 13px;
	height: 22px;
	line-height: 1;
	margin: -9px 5px 3px 0;
	overflow: visible;
	padding: 0;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: 22px;
}
.formatting.button {
	background-color: lightgray;
	border-radius: 3px;
	border: 2px solid gray;
	color: gray;
}
.formatting:not(.button) {
	width: 24px;
}
.formatting.bold {
	font-weight: bold;
}
.formatting.underline {
	text-decoration: underline;
}
.formatting.strike {
	text-decoration: line-through;
}
.formatting.italic {
	font-style: italic;
}
.formatting.bq {
	background: #efc;
	border-bottom: 1px solid #cda;
	border-left: 3px solid #9a7;
	border-right: none;
	border-top: 1px solid #cda;
}
.formatting.bc {
	background: #eee;
	border-color: #ccc #ccc #ccc #ddd;
	border-style: solid none solid solid;
	border-width: 1px 0 1px 3px;
}
.formatting.bc,
.formatting.monospace {
	font-family: monospace;
	font-size: 12px;
}
.formatting.godname {
	background-image: url("http://wiki.godville.net/images/f/f6/Godicon.png");
}
.formatting.link {
	color: #199bdc;
	text-decoration: underline;
}
.formatting.br {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABmJLR0QA/wD/AP+gvaeTAAAA70lEQVQ4y+2TwUpCURCGvzn3Hq9g1EYQg4QWuU1q0batD+BDiCJiL+ALGMX1JXqA1lcoaFGE3GjlOgh016r0Oi07xC2u4tJ/Nz8z35zDzMBWG9c1TwdD4veQuOn6ZlWQIfFASgoF1/fTkkOey4K9WfDV6nL6kq1BCgRsBHrm41Wyv9TRJeN9sCNBDxNotKndZgX5P5CHvMWLBKogU4P2QuJeSk3+X1DCh8lR2AEBsEDxr+6KvgrLmeuJG1zxWPUJIpC9BfN6l5O7rF+T38aA8VGAGSnsKlrvcHy/1tQuqE0+WZ6DvG1kg/v0ve0dA/AN7lg3eQxiQo0AAAAASUVORK5CYII=');
}

.popup_menu ul li {
	display: flex;
	padding: 0;
}
.popup_menu ul li a {
	padding: 0.5em;
	width: 100%;
}

#footer {
	display: none;
}

.img_spinner {
	width: 14px;
}
.img_container {
	text-align: center;
}
.img_container a {
	display: inline-block;
	position: relative;
}
.img_container img {
	max-width: 456px;
}
.post ul .img_container,
.post ol .img_container {
	margin-left: -40px;
}

.post.highlighted {
	background: #fbfbdb;
	box-shadow: 0 0 5px gold;
}
.post.highlighted .author.vcard {
	background: #f6f6ba;
}

#quote_button {
	background-color: #494944;
	border-radius: 3px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
	color: #FFF;
	display: block;
	font: 12px Tahoma,Helvetica,Arial,sans-serif;
	height: 20px;
	left: 0;
	padding: 7px 2px;
	position: absolute;
	top: 0;
	visibility: hidden;
	width: auto;
}
#quote_button::after {
	border-color: #494944 transparent transparent;
	border-style: solid;
	border-width: 4px;
	content: " ";
	height: 0;
	left: 50%;
	margin-left: -4px;
	pointer-events: none;
	position: absolute;
	top: 100%;
	width: 0;
}
#quote_button.shown {
	animation: 160ms linear 0 normal forwards 1 running pop-upwards;
	visibility: visible;
}

@keyframes pop-upwards {
	0% {
		-webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
		transform: matrix(0.97, 0, 0, 1, 0, 12);
		opacity: 0;
	}
	20% {
		-webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
		transform: matrix(0.99, 0, 0, 1, 0, 2);
		opacity: 0.7;
	}
	40% {
		-webkit-transform: matrix(1, 0, 0, 1, 0,-1);
		transform: matrix(1, 0, 0, 1, 0,-1);
		opacity: 1;
	}
	70%, 100% {
		-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
		transform: matrix(1, 0, 0, 1, 0, 0);
		opacity:1
	}
}

#quote_button > div {
	-moz-user-select: none;
	-webkit-user-select: none;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	padding: 0 6px;
	user-select: none;
	vertical-align: middle;
	width: 13px;
}
#quote_button #copy {
	border-right: 1px solid white;
	display: none; /* Unless copy functionality is implemented. */
}
#quote_button #quote {
	border-right: 1px solid white;
}
#quote_button #quote_with_author {
	background-position: 6px center;
	position: relative;
	text-align: center;
	width: 40px;
}
#quote_button #quote_with_author::after {
	background-position: center;
	background-repeat: no-repeat;
	content: "";
	height: 20px;
	position: absolute;
	top: 0;
	width: 13px;
}
#quote_button #quote_with_author::after {
	background-image: url("http://wiki.godville.net/images/f/f6/Godicon.png");
	right: 6px;
}
