.formatting {
	cursor: pointer;
	line-height: 1;
	overflow: visible;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	vertical-align: middle;
	height: 22px;
	width: 22px;
	margin: -9px 5px 3px 0;
	padding: 0;
}
.formatting.button {
	color: gray;
	background-color: lightgray;
	border: 2px solid gray;
	border-radius: 3px;
}
.formatting:not(.button) {
	width: 24px;
}
.formatting.bold {
	font-weight: bold;
}
.formatting.underline {
	text-decoration: underline;
}
.formatting.strike {
	text-decoration: line-through;
}
.formatting.italic {
	font-style: italic;
}
.formatting.bq {
	background: #efc;
	border-bottom: 1px solid #cda;
	border-left: 3px solid #9a7;
	border-right: none;
	border-top: 1px solid #cda;
}
.formatting.bc {
	background: #eee;
	border-color: #ccc #ccc #ccc #ddd;
	border-style: solid none solid solid;
	border-width: 1px 0 1px 3px;
}
.formatting.bc,
.formatting.monospace {
	font-size: 12px;
	font-family: monospace;
}
.formatting.godname {
	background-image: url("http://wiki.godville.net/images/f/f6/Godicon.png");
}
.formatting.link {
	color: #199bdc;
	text-decoration: underline;
}
.formatting.br {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABmJLR0QA/wD/AP+gvaeTAAAA70lEQVQ4y+2TwUpCURCGvzn3Hq9g1EYQg4QWuU1q0batD+BDiCJiL+ALGMX1JXqA1lcoaFGE3GjlOgh016r0Oi07xC2u4tJ/Nz8z35zDzMBWG9c1TwdD4veQuOn6ZlWQIfFASgoF1/fTkkOey4K9WfDV6nL6kq1BCgRsBHrm41Wyv9TRJeN9sCNBDxNotKndZgX5P5CHvMWLBKogU4P2QuJeSk3+X1DCh8lR2AEBsEDxr+6KvgrLmeuJG1zxWPUJIpC9BfN6l5O7rF+T38aA8VGAGSnsKlrvcHy/1tQuqE0+WZ6DvG1kg/v0ve0dA/AN7lg3eQxiQo0AAAAASUVORK5CYII=');
}

.popup_menu ul li {
	display: flex;
	padding: 0;
}
.popup_menu ul li a {
	padding: 0.5em;
	width: 100%;
}

#footer {
	display: none;
}

.img_spinner {
	width: 14px;
}
.img_container {
	text-align: center;
}
.img_container a {
	display: inline-block;
	position: relative;
}
.img_container img {
	max-width: 456px;
}
.post ul .img_container,
.post ol .img_container {
	margin-left: -40px;
}

.post.highlighted {
	background: #fbfbdb;
	box-shadow: 0 0 5px gold;
}
.post.highlighted .author.vcard {
	background: #f6f6ba;
}

#quote_button {
	top: 0;
	left: 0;
	position: absolute;
	width: auto;
	height: 20px;
    display: block;
    font: 12px Tahoma,Helvetica,Arial,sans-serif;
    color: #FFF;
    background-color: #494944;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    padding: 7px 2px;
    border-radius: 3px;
    visibility: hidden;
}
#quote_button::after {
	top: 100%;
	left: 50%;
	border-style: solid;
	content: " ";
	height: 0px;
	width: 0px;
	position: absolute;
	pointer-events: none;
	border-color: #494944 transparent transparent;
	border-width: 4px;
	margin-left: -4px;
}
#quote_button.shown {
    visibility: visible;
    animation: 160ms linear 0s normal forwards 1 running pop-upwards;
}

@keyframes pop-upwards {
	0% {
		-webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
		transform: matrix(0.97, 0, 0, 1, 0, 12);
		opacity: 0;
	}
	20% {
		-webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
		transform: matrix(0.99, 0, 0, 1, 0, 2);
		opacity: 0.7;
	}
	40% {
		-webkit-transform: matrix(1, 0, 0, 1, 0,-1);
		transform: matrix(1, 0, 0, 1, 0,-1);
		opacity: 1;
	}
	70%, 100% {
		-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
		transform: matrix(1, 0, 0, 1, 0, 0);
		opacity:1
	}
}

#quote_button > div {
	display: inline-block;
    cursor: pointer;
	width: 13px;
	height: 20px;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0 6px;
	vertical-align: middle;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
#quote_button #copy {
	background-image: url("chrome://godville-ui-plus/content/images/copy.png");
	border-right: 1px solid white;
	display: none; /* Unless copy functionality is implemented. */
}
#quote_button #quote {
	background-image: url("chrome://godville-ui-plus/content/images/quote.png");
	border-right: 1px solid white;
}
#quote_button #quote_with_godname {
	position: relative;
	width: 40px;
	text-align: center;
}
#quote_button #quote_with_godname::before,
#quote_button #quote_with_godname::after {
	position: absolute;
	top: 0;
	content: "";
	height: 20px;
	width: 13px;
	background-position: center;
	background-repeat: no-repeat;
}
#quote_button #quote_with_godname::before {
	background-image: url("chrome://godville-ui-plus/content/images/quote.png");
	left: 6px;
}
#quote_button #quote_with_godname::after {
	background-image: url("http://wiki.godville.net/images/f/f6/Godicon.png");
	right: 6px;
}