html {
	height: 100%;
}

body {
	margin-bottom: -2em;
	min-height: 100%;
	overflow: auto;
	padding-bottom: 2em;
}

#central_block_my_page,
.bl_capt,
th {
	background: none;
}
#voice_menu {
	width: 100%;
}

#words a {
	color: #199BDC;
	cursor: pointer;
	text-decoration: underline;
}
#words .selected{
	color: #DA251D;
	cursor: default;
	text-decoration: none;
}
#general_settings input:not(.menu-checkbox):not(.option-checkbox)[type=checkbox],
#general_settings input:not(.menu-checkbox):not(.option-checkbox)[type=radio] {
	position: relative;
	top: 0.25em;
}
#general_settings input:not(.menu-checkbox):not(.option-checkbox)[type=checkbox],
#general_settings .ksmall {
	-webkit-transform: scale(0.69);
	transform: scale(0.7);
}

#general_settings #span_special,
#general_settings #span_tamable,
#general_settings #span_chosen {
	border-bottom: 1px dashed darkgray;
	cursor: pointer;
}

#optdimmer {
	background: #000;
	height:100%;
	opacity: .5;
	position: fixed;
	top: 0;
	width:100%;
	z-index:99;
}

#optlightbox {
	background: lightgray;
	border: 2px solid #3c3c3c;
	padding: 10px;
	position: absolute;
	visibility: hidden;
	z-index: 100;
}

#optlightbox fieldset {
	height: 90%;
}

.understudy {
	left: -10000px;
	position: absolute;
	top: -10000px;
}

textarea {
	resize: 'none';
	overflow: hidden;
}
