html {
	height: 100%;
}

body {
	overflow: auto;
	min-height: 100%;
}

/* long god-name fix */
#main_wrapper {
	padding-top: 2.9em;
}
#menu_bar {
	position: absolute;
	right: 0;
	top: 0;
}

.line {
	text-align: right;
}
#pet .line,
#diary .line,
.panth_line,
#no_skills,
#send_feedback_form .line,
#trader .line,
#invites .line {
	text-align: center;
}
.l_val {
	float: none;
}
#pet .l_val,
#trader .l_val {
	float: right;
}
.l_capt {
	margin-right: 0;
}

.frInputArea textarea {
	resize: vertical;
}
.frDockCell.left .frMsgBlock {
	left: -1px;
	right: auto;
}

.dockfr_close,
.dockfr_ppage,
.craft_button,
#informer_bar div,
.voice_generator,
.craft_button,
.inspect_button,
.div_link,
.div_link_nu {
	-moz-user-select: none;
	-webkit-user-select: none;
}

.chat_ph,
.msgDock.frDockCell {
	transform: rotate(180deg);
}

.msgDock.frDockCell {
	float: left;
}

.ui_msg {
	position: fixed;
	top: 40px;
	left: 0;
	right: 0;
	z-index: 301;
	display: none;
	padding-bottom: 0.7em;
}
.ui_msg .hint_bar_content {
	padding: 0.5em 1em 0;
}
.hint_bar {
	font-size: 90%;
	text-align: center;
}
.hint_bar_capt {
	padding-bottom: 0.75em;
}
.hint_bar_content ol {
	margin: 0;
	padding: 0 0 0 20px;
}
.hint_bar_content ol li.hidden {
	display: none;
}
body.th_nightly .ui_msg {
	color: #999;
}

.equip_badge_pos {
	right: 20px;
	top: 2px;
}
.page_wrapper_5c .equip_badge_pos {
	right: 16px;
}

#hero_block {
	margin-bottom: 0 !important;
	position: relative;
	z-index: 300;
}

.s_col {
	padding: 0em 0.8em;
}

.c_col {
	padding: 0em 0.8em;
}

.c_col .pbar .p_bar {
	width: 99% !important; /* for 5 columns */
	position: relative;
	left: 0;
	margin-left: 2px;
}

.gp_label {
	width: auto;
	line-height: 145%;
}

.gp_val {
	width: auto;
	line-height: 145%;
}

.voice_generator{
	float: left;
	margin-left: 0.3em;
}

#arena_say_box a {
	margin-left: 1em;
}

#inventory {
	text-align: center;
}
#inventory ul {
	text-align: left;
}
#inventory .heal_item {
	color: green;
}

.craft_button {
	padding: 0 0.2em;
}

#logger {
	width: 90%;
	overflow-x: hidden;
	white-space: nowrap;
	margin: auto;
	-webkit-mask-image: linear-gradient(to left, black 94%, transparent 100%);
}
.page_wrapper_5c #logger {
	-webkit-mask-image: linear-gradient(to left, black 96%, transparent 100%);
}

#logger li {
	display: inline;
	list-item-style: none;
	margin-left: 0.5em;
}

#logger .godpower { color: #199bdc; }
#logger .exp { color: #f9b436; }
#logger .task { color: pink; }
#logger .level { color: red; font-weight: bold; }
#logger .inv { color: #882D17; }
#logger .hp { color: green; }
#logger .gold { color: #ffd700; }
#logger .monster { color: darkmagenta; }
#logger .death { color: red; }
#logger .bricks { color: goldenrod; font-weight: bold; }
#logger .logs { color: saddlebrown; font-weight: bold; }
#logger .charges,
#logger .allies { color: blue; }
#logger .savings { color: darkorange; }
#logger {
	display: block;
	position: relative;
}

#timeout_bar {
	height: 3px;
	width: 100%;
	display: block;
	position: fixed;
	z-index: 302;
	opacity: 0.75;
	top: -3px;
	left: 0px;
	-moz-user-select: none;
	-webkit-user-select: none;
}
body.th_nightly #timeout_bar {
	background: chartreuse;
}
body:not(.th_nightly) #timeout_bar {
	background: dodgerblue;
}
#timeout_bar.running {
	top: 0;
	width: 0;
	transition: width 20s linear;
}

#informer_bar {
	display: block;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 301;
	pointer-events: none;
}
#informer_bar div {
	float: right;
	margin: 0.4em 0.4em 0 0;
	padding: 0.1em 0.5em;
	background: beige;
	border: 1px solid orange;
	border-radius: 2px;
	cursor: pointer;
	pointer-events: auto;
}

#forum_informer_bar {
	display: block;
	top: 0px;
	left: 0px;
	z-index: 301;
	pointer-events: none;
	position: fixed;
	overflow: auto;
	height: 100%;
	direction: rtl;
}
#forum_informer_bar a {
	float: left;
	margin: 0.4em 0 0 0.4em;
	padding: 0.1em 0.5em;
	border: 1px solid;
	border-radius: 6px 10.5px 10.5px 6px;
	pointer-events: auto;
	clear: both;
	position: relative;
	height: 23px;
	width: 132px;
	min-width: 132px;
	max-width: 500px;
	box-sizing: border-box;
	direction: ltr;
	margin-right: 20px;
}
#forum_informer_bar a,
#forum_informer_bar a:hover,
#forum_informer_bar a:visited,
#forum_informer_bar a:active {
	text-decoration: none;
}
#forum_informer_bar a:hover {
	width: auto;
}
body.th_divine #forum_informer_bar a {
	background: #99D9EA;
	border-color: #00A2E8;
	color: #3F48CC;
}
body.th_nightly #forum_informer_bar a {
	background: #252525;
	border-color: #555;
	color: #999;
}
body.th_violet #forum_informer_bar a {
	background: #D29BD2;
	border-color: #A349A3;
	color: #808;
}
body.th_pink #forum_informer_bar a {
	background: #f9f;
	border-color: #a0a;
	color: #a0a;
}
body.th_emerald #forum_informer_bar a {
	background: #9BD29B;
	border-color: #49A349;
	color: #080;
}
body.th_yellow #forum_informer_bar a {
	background: #F4E9AF;
	border-color: #A3A349;
	color: #880;
}
body.th_classic #forum_informer_bar a,
body.th_retro #forum_informer_bar a {
	background: #D2D2D2;
	border-color: #A3A3A3;
	color: #555;
}
body.th_retro #forum_informer_bar a {
	border-radius: 0;
}
#forum_informer_bar .fr_new_badge {
	top: 2px;
	right: 2px;
}

#forum_informer_bar span {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.msgDockWrapper {
	pointer-events: none;
}

.msgDockWrapper * {
	pointer-events: auto;
}

a {
	cursor: pointer;
}

a.inspect_button {
	margin-left: 0.3em;
}

.dockfrname_w {
	height: 100%
}

#facebox {
	z-index: 303;
}

#facebox_overlay {
	z-index: 302;
}


/* laying timer themes */
#laying_timer {
	top: 2px;
	left: 60px;
}
body.th_nightly #laying_timer.green {
	border-color: #040;
	color: #040;
	background-color: green;
}
body:not(.th_nightly) #laying_timer.green {
	border-color: darkgreen;
	color: darkgreen;
	background-color: lightgreen;
}
body.th_nightly #laying_timer.grey {
	border-color: #444;
	color: #444;
	background-color: darkgrey;
}
body:not(.th_nightly) #laying_timer.grey {
	border-color: grey;
	color: grey;
	background-color: lavender;
}
body.th_nightly #laying_timer.red {
	border-color: #400;
	color: #400;
	background-color: darkred;
}
body:not(.th_nightly) #laying_timer.red {
	border-color: firebrick;
	color: firebrick;
	background-color: darksalmon;
}
#laying_timer.yellow {
	border-color: #df9900;
	color: #af5900;
	background-color: #fcedae;
}

/* fader svg moving away */
#fader {
	position: fixed;
	top: 0;
	left: -9999px;
}

/* dungeon phrases colorization */
#m_fight_log .warning .d_time,
#m_fight_log .warning .d_msg {
	color: darkgoldenrod;
}

/* dungeon map colorization */
/* not th_nightly theme */
body:not(.th_nightly) .dmc.warning {
	background: #ffce09;
}
body:not(.th_nightly) .dmc.boss {
	background: #fa8700;
}
body:not(.th_nightly) .dmc.bonusGodpower {
	background: #c5e0f3;
}
body:not(.th_nightly) .dmc.bonusHealth {
	background: #b9edbe;
}
body:not(.th_nightly) .dmc.trapUnknown {
	background: #c173da;
}
body:not(.th_nightly) .dmc.trapTrophy,
body:not(.th_nightly) .dmc.trapGold {
	background: #dee0c0;
}
body:not(.th_nightly) .dmc.trapLowDamage {
	background: #e7afaf;
}
body:not(.th_nightly) .dmc.trapModerateDamage {
	background: #cb555b;
}
body:not(.th_nightly) .dmc.trapMoveLoss {
	background: #aaaaaa;
}
body:not(.th_nightly) .dmc.warning.bonusGodpower {
	background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #c5e0f3 50%, #c5e0f3 100%);
}
body:not(.th_nightly) .dmc.warning.bonusHealth {
	background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #b9edbe 50%, #b9edbe 100%);
}
body:not(.th_nightly) .dmc.warning.trapUnknown {
	background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #c173da 50%, #c173da 100%);
}
body:not(.th_nightly) .dmc.warning.trapTrophy,
body:not(.th_nightly) .dmc.warning.trapGold {
	background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #dee0c0 50%, #dee0c0 100%);
}
body:not(.th_nightly) .dmc.warning.trapLowDamage {
	background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #e7afaf 50%, #e7afaf 100%);
}
body:not(.th_nightly) .dmc.warning.trapModerateDamage {
	background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #cb555b 50%, #cb555b 100%);
}
body:not(.th_nightly) .dmc.warning.trapMoveLoss {
	background: linear-gradient(135deg, #ffce09 0%, #ffce09 50%, #aaaaaa 50%, #aaaaaa 100%);
}
body:not(.th_nightly) .dmc.boss.bonusGodpower {
	background: linear-gradient(135deg, #fa8700 0%, #fa8700 50%, #c5e0f3 50%, #c5e0f3 100%);
}
body:not(.th_nightly) .dmc.boss.bonusHealth {
	background: linear-gradient(135deg, #fa8700 0%, #fa8700 50%, #b9edbe 50%, #b9edbe 100%);
}
body:not(.th_nightly) .dmc.boss.trapTrophy,
body:not(.th_nightly) .dmc.boss.trapGold {
	background: linear-gradient(135deg, #fa8700 0%, #fa8700 50%, #dee0c0 50%, #dee0c0 100%);
}
body:not(.th_nightly) .dmc.boss.trapLowDamage {
	background: linear-gradient(135deg, #fa8700 0%, #fa8700 50%, #e7afaf 50%, #e7afaf 100%);
}
body:not(.th_nightly) .dmc.boss.trapModerateDamage {
	background: linear-gradient(135deg, #fa8700 0%, #fa8700 50%, #cb555b 50%, #cb555b 100%);
}
body:not(.th_nightly) .dmc.boss.trapMoveLoss {
	background: linear-gradient(135deg, #fa8700 0%, #fa8700 50%, #aaaaaa 50%, #aaaaaa 100%);
}
/* th_nightly theme */
body.th_nightly .dmc.warning {
	background: #d3ae00;
}
body.th_nightly .dmc.boss {
	background: #ff9f07;
}

body.th_nightly .dmc.bonusGodpower {
	background: #2d546f;
}

body.th_nightly .dmc.bonusHealth {
	background: #2f6c37;
}
body.th_nightly .dmc.trapUnknown {
	background: #62317c;
}
body.th_nightly .dmc.trapTrophy,
body.th_nightly .dmc.trapGold {
	background: #6c6d4e;
}

body.th_nightly .dmc.trapLowDamage {
	background: #8b5d5d;
}

body.th_nightly .dmc.trapModerateDamage {
	background: #9d1515;
}

body.th_nightly .dmc.trapMoveLoss {
	background: #5c5c5c;
}
body.th_nightly .dmc.warning.bonusGodpower {
	background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #2d546f 50%, #2d546f 100%);
}
body.th_nightly .dmc.warning.bonusHealth {
	background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #2f6c37 50%, #2f6c37 100%);
}
body.th_nightly .dmc.warning.trapUnknown {
	background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #62317c 50%, #62317c 100%);
}
body.th_nightly .dmc.warning.trapTrophy,
body.th_nightly .dmc.warning.trapGold {
	background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #6c6d4e 50%, #6c6d4e 100%);
}
body.th_nightly .dmc.warning.trapLowDamage {
	background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #8b5d5d 50%, #8b5d5d 100%);
}
body.th_nightly .dmc.warning.trapModerateDamage {
	background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #9d1515 50%, #9d1515 100%);
}
body.th_nightly .dmc.warning.trapMoveLoss {
	background: linear-gradient(135deg, #d3ae00 0%, #d3ae00 50%, #5c5c5c 50%, #5c5c5c 100%);
}
body.th_nightly .dmc.boss.bonusGodpower {
	background: linear-gradient(135deg, #ff9f07 0%, #ff9f07 50%, #2d546f 50%, #2d546f 100%);
}
body.th_nightly .dmc.boss.bonusHealth {
	background: linear-gradient(135deg, #ff9f07 0%, #ff9f07 50%, #2f6c37 50%, #2f6c37 100%);
}
body.th_nightly .dmc.boss.trapTrophy,
body.th_nightly .dmc.boss.trapGold {
	background: linear-gradient(135deg, #ff9f07 0%, #ff9f07 50%, #6c6d4e 50%, #6c6d4e 100%);
}
body.th_nightly .dmc.boss.trapLowDamage {
	background: linear-gradient(135deg, #ff9f07 0%, #ff9f07 50%, #8b5d5d 50%, #8b5d5d 100%);
}
body.th_nightly .dmc.boss.trapModerateDamage {
	background: linear-gradient(135deg, #ff9f07 0%, #ff9f07 50%, #9d1515 50%, #9d1515 100%);
}
body.th_nightly .dmc.boss.trapMoveLoss {
	background: linear-gradient(135deg, #ff9f07 0%, #ff9f07 50%, #5c5c5c 50%, #5c5c5c 100%);
}

/* dialog box-shadows */
body.th_nightly .ui_msg {
	box-shadow: 2px 2px 15px #fff;
}
body:not(.th_nightly) .ui_msg {
	box-shadow: 2px 2px 15px #000;
}

/* shovel */
#hk_gold_we .voice_generator:not(.shovel) {
	background-size: 0 0;
}
#hk_gold_we .voice_generator.shovel {
	font-size: 0;
	line-height: 0;
	height: 13px;
	width: 13px;
	margin: 4px 0 0 3px;
}
#hk_gold_we .voice_generator.shovel.compact {
	margin: 4px -4px 0 0;
}
body:not(.th_nightly) .shovel {
	background-position: 0px 0px;
}
body:not(.th_nightly) .shovel:hover {
	background-position: 13px 0px;
}
body.th_nightly .shovel {
	background-position: 0px 13px;
}
body.th_nightly .shovel:hover {
	background-position: 13px 13px;
}

/* hide hidden popovers */
.popover.hidden {
	display: none !important;
}

/* map legend */
.guip_legend {
	margin-bottom: 10px;
}
.guip_legend .dmc {
	margin-right: 5px;
}

/* inventory fullness and health marks */
body.field #hk_inventory_num .p_bar,
body.has_temple.field #hk_health .p_bar {
	position: relative;
}
body.field #hk_inventory_num .p_bar:before,
body.field #hk_inventory_num .p_bar:after,
body.has_temple.field #hk_health .p_bar:before {
	content: " ";
	height: 100%;
	position: absolute;
	width: 2px;
}
body.field:not(.th_nightly) #hk_inventory_num .p_bar:before,
body.field:not(.th_nightly) #hk_inventory_num .p_bar:after,
body.has_temple.field:not(.th_nightly) #hk_health .p_bar:before {
	background: #ddd;
}
body.field.th_nightly #hk_inventory_num .p_bar:before,
body.field.th_nightly #hk_inventory_num .p_bar:after,
body.has_temple.field.th_nightly #hk_health .p_bar:before  {
	background: #555;
}
body.field #hk_inventory_num .p_bar:before {
	left: 33%;
}
body.field #hk_inventory_num .p_bar:after {
	left: 50%;
}
body.has_temple.field #hk_health .p_bar:before {
	left: 67%;
}

a.broadcast {
	font-weight: bold;
	font-size: 80%;
	vertical-align: top;
}

/* fix buttons hover */
.fr_msg_l:hover .gc_fr_page {
	display: inline-block !important;
}
.gc_fr_page {
	display: none !important;
	position: relative;
	left: 0;
	margin-top: -1px;
}

/* clear voice input button */
.gvl_popover {
	right: 0;
	bottom: 0;
	width: 23px;
	height: 29px;
	padding-left: 4px;
	line-height: 29px;
	margin-right: 0;
}
#clear_voice_input {
    padding-left: 0;
    right: 27px;
    width: 15px;
}
.c_col #god_phrase {
	margin-left: 2px;
	width: 309px;
}
.s_col #god_phrase {
	width: 171px;
}
.page_wrapper_5c .c_col #god_phrase {
	margin-left: 2px;
	width: 295px;
}
.page_wrapper_5c .s_col #god_phrase {
	width: 156px;
}
#god_phrase {
	padding-right: 36px;
}

#alls .motto {
	margin-left: 3px;
}